.test{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0px;

    height: 100%;
    width: 89vw;
    color: black;
    font-size: 12px;
    color: #99aab5;
    background-color: #36393f;
    font-size: 12px;
}


.chatParent{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0px;
    left: 250px;
    height: 100%;
    width: 89%;
    color: black;
    font-size: 12px;
    color: #99aab5;
    background-color: #36393f;
    font-size: 12px;
}

.inputform {
    width: 0%;
    background-color: yellow;
}

.inputform input {
    width: 100%
}

//in main
.dm{
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 0px;
    /* left: 149px; */
    height: 100%;
    width: 87%;
    color: black;
    font-size: 12px;
    color: #99aab5;
    background-color: #36393f;
    font-size: 12px;  
}

///app JSX
.initial{
    height: 100%;
    width: 100%;
}

.initial1{
    display: flex;
    height: 100%;
    width: 100%;
}