.test {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0px;
    /* left: 250px; */
    height: 100%;
    // width: 89%;
    color: black;
    font-size: 12px;
    color: #99aab5;
    background-color: #36393f;
    font-size: 12px;
}