.dmTitle{
  font-size: 12px;
  color: #fff;
  opacity: .3;
  font-weight: 500;
  -webkit-transition: opacity .15s ease;
  transition: opacity .15s ease;
  padding: 9px 20px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 12px;
}

.dm {
    position: relative;
    display: flex;
    flex-direction: column;
    /* left: 75px; */
    width: 12.2%;
    height: 100%;
    color: #99aab5;
    background-color: #2F3136;
    font-size: 20px;
    
  }

  .dmLink {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    padding-left: 3%;
    height: 100%;
    min-width: 80%;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #72767d;
  }

  .dmContainer:focus{
    background-color: rgba(0, 0, 0, 0.1);
  }

  .innerDm{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 94.3%;
    width: 100%;
    padding-top: 21%;
  }
  .dmContainer{
    padding-top: 5px;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 51px;
    width: 100%;
    padding-left: 15px;
  }

  .dmContainerSelected{
    padding-top: 5px;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 51px;
    width: 100%;
    padding-left: 15px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .dmContainer :hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
  }
    .home {
        position: relative;
        display: flex;
        flex-direction: column;
        /* left: 250px; */
        background: image_url('user/EmptyWumpus.svg') no-repeat center;
        height: 100%;
        width: 83.9%;
        color: black;
        font-size: 12px;
        color: #99aab5;
        background-color: #36393f;
        font-size: 12px;
    }
