.dm {
    position: relative;
    display: flex;
    flex-direction: column;
    /* left: 75px; */
    width: 12.2%;
    height: 100%;
    color: #99aab5;
    background-color: #2F3136;
    font-size: 20px;
    
  }

  .dmLink {
    position: relative;
    display: flex;
    flex-direction: column;
    /* left: 75px; */
    padding-top: 3%;
    height: 100%;
    color: #99aab5;
    background-color: #2F3136;
    font-size: 20px;
 
  }

  .innerDm{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    padding-top: 50%;
  }
  .dmContainer{
    padding-top: 10%;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 5%;
    width: 100%
  }


    .home {
        position: relative;
        display: flex;
        flex-direction: column;
        /* left: 250px; */
        background: image_url('user/EmptyWumpus.svg') no-repeat center;
        height: 100%;
        width: 83.9%;
        color: black;
        font-size: 12px;
        color: #99aab5;
        background-color: #36393f;
        font-size: 12px;
    }
