.dm {
    position: relative;
    display: flex;
    flex-direction: column;
    /* left: 75px; */
    width: 14.5%;
    height: 100%;
    color: #99aab5;
    background-color: #2F3136;
    font-size: 12px;
    justify-content: flex-end;
  }


    .home {
        position: relative;
        display: flex;
        flex-direction: column;
        /* left: 250px; */
        background: image_url('user/EmptyWumpus.svg') no-repeat center;
        height: 100%;
        width: 100%;
        color: black;
        font-size: 12px;
        color: #99aab5;
        background-color: #36393f;
        font-size: 12px;
    }

