.message-list{
height: auto;
max-height: 100%;
overflow-y: scroll;
margin: 2% 0%;

}

.message-form{
    display: flex;
    flex-direction: column;
    height: 5%;
    width: 99%;
    margin-bottom: 0.5%;
    background-color: #484C52;
    color: hsla(0,0%,100%,.7);
    border-radius:5px;
}

.message-form input{
    width: 100%;
    height: 100%;
    background-color: #484C52;
    color: hsla(0,0%,100%,.7);
    border-radius: 5px;
    
}

.message-form input:focus{
    outline: none;
}

.message-form{
    outline: none;
}
.message-holder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 98%;
    color: #FFFFFF
}
