
.nav2{
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0px;
  /* left: 75px; */
  height: 94%;
  width: 100%;

  color: #99aab5;
  background-color: #2F3136;
  font-size: 12px;
}



.channel{
  flex-direction: row;
  justify-content: space-evenly;
  top: 0px;
  left: 70px;
  height: 100%;
  width: 100%;
  color: #99aab5;
  font-size: 3px;
}

.server-name{
  color: #ffffff;
  font-size: 20px;
  margin: 10%;
  padding-bottom: 50px;
}
.name{

  font-size: 13px;
}

.create-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 12px;
}
.plus-button{
  font-size: 20px;
}

//Create Channel modal

.create-channel-background{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 80%;
  width: 80%;
  background-color: #2C2F33;
  color: #99aab5;
  border-radius: 1%;
  
}

.create-channel-background h1{
  padding: 2%;  
}
.field {
  margin: 3%;
  bottom: 10%;
}

.field input{
  display: flex;
  height: 70%;
  width: 70%;
}

.channel-action{
 
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  height: 20%;
  width: 100%;
  color: #ffffff;
}

.channel-action button{
  background-color: #7289DA;
  align-self: center;
  height: 50%;
  width: 20%;
  margin: 3%;

}

.channel-action span{
  align-self: center;
  padding-left: 50%;
}

.first_channel{
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 4%;
  margin-right: 2%;
  font-size: 16px;
}

.first_channel img{

  margin-top: 5%;

}
.channelul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 4%;
  margin-right: 2%;
  font-size: 16px;

}
.channels{
  margin-top: 4%;

  margin-right: 2%;
  font-size: 16px;
}
.first_channel:hover{
  background-color: #42454d;
  color: #ffffff;
}
.nav2 ul li:hover{
  background-color: #42454d;
  color: #ffffff;
}



.create-container span{
  align-self: center;
  font-size: 14px;
}
.invite_modal{
  display: flex;
  flex-direction: column;
    // justify-content: space-between;
  position: relative;
  margin-top: 20%;
  padding: 20px;
  // height: 80%;
  // width: 80%;
  background-color: #36393F;
  color: #ffffff;
  border-radius: 1%;
    
    max-height: 560px; 
    min-height: 200px;
    width: 420px;
}

.invite_modal span{

  font-size: 12px;
}

.spanclass2{
  margin-top: 5px;
}
.spanclass{
  margin-top: 40px;
  margin-bottom: 5px;
}

.invite_modal p{
  position: relative;
  bottom: 40%;
}

.invite_modal input{ 
  height: 10%;
  width: 75%;
  background-color: #2B2F32;
  color: #ffffff;
  font-size: 21px;
  border-color: solid #7289DA 12px;
  border-radius: 1%;

}