.splash-div {
display: flex;
background: image_url('splash/bestsplash.png');
height: 120%;
width: 100%;
justify-content: center;
color: #ffffff;
background-size: contain;
}


.splash-div article{
display: flex;
justify-content: center;
position: absolute;
top: 3%;
flex-direction:column;
}
.splash-div article h2{
    align-self: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}

.splash-div article p{
    align-self: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: hsla(0,0%,100%,.6)
}
.splash-div aside {
display: flex;
justify-content: space-evenly;
}
.middle{
display: flex;
align-self: flex-end;
align-content: center;
padding: 5px 30px 0 30px;
margin-top: 18px;

height: 30px;
background-color:  #7289da;
}
.signup{
  display: flex;
  position: relative;
  align-self: flex-end;
  justify-content: center;
  background-color: #7289da;
  border-radius: 3px;
  right: 10.5%;
  height: 3%;
  width: 7%;
  font-size: 15px;
  bottom: 9%;
  padding-left: .5%;
  padding-right: .5%;
}

.signup a {
  align-self: center;
}

.upper-header{
display: flex;
flex-direction: row;
justify-content: space-between;
position: relative;
padding-left: 8%;
padding-right: 9%;
top: 2%;
height: 10%;
width: 100%
}

.upper-header nav{
  display: flex;
  width: 60%;
  flex-direction: row;
  font-family: sans-serif;
}
.upper-header p{

  font-family: 'Audiowide', cursive;
}


.upper-header img{
  position: relative;
  width: 30%;
  bottom: 35%;
}
.upper-header a{

  // margin-top: 0.7%;
  // margin-left: 1%;
  font-size: 13px;
  color: #CFCFD0;
}

.upper-header a:hover{
  color: #ffffff;
  
}


.upper-right-header{
  display: flex;
  flex-direction: row;
}
.upper-left-header{
  display: flex;
  flex-direction: row;
  width: 300px;
}
.upper-right-header a {
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.8);
    height: 20px;
    width: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
    font-size: 14px; 
    text-align: center;
    text-justify: center;
}


    /* top: 100%; */

       
        // <img class='main-screen' src={window.mainMonitor} alt="" />
        // <img src={window.circle} alt="" />
        // <img src={window.AndroidP} alt="" />
        // <img src={window.bomb} alt="" />
        // <img src={window.controller} alt="" />
        // <img src={window.coin} alt="" />
        // <img src={window.disc} alt="" />
        // <img src={window.flashdrive} alt="" />
        // <img src={window.iphone} alt="" />
        // <img src={window.laptop} alt="" />
        // <img src={window.headphone} alt="" />
        // <img src={window.mushroom} alt="" />
        // <img src={window.potion} alt="" />
        // <img src={window.singleDot} alt="" />
        // <img src={window.square} alt="" />
        // <img src={window.X} alt="" />
        // <img src={window.zelda} alt="" />
