.user-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    /* bottom: 0px; */
    /* left: 75px; */
    height: 5.7%;
    /* width: 12%; */
    /* padding-left: 0.5%; */
    /* padding-top: 0.5%; */
    /* padding-bottom: 1%; */
    color: #99aab5;
    background-color: #2A2D30;
    font-size: 12px;
}
.name-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 4%;
    height: 1%;
}
.gear-container{
    width:20%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
}

.gear-container img {
    height: 70%;
    border-radius: 100%;
    object-fit: contain;
    align-self: center;
}

.logout{
    cursor: pointer;
    height: 10%;
}